<header>
  <div class="header-wrapper">
    <div class="header-logo">
      <%= link_to "タナカタロウのポートフォリオ", root_path %>
    </div>
    <div class="header-nav">
      <%= link_to "new", new_studytime_path %>
    </div>
  </div>
</header>